body {
  background: #1b1818;
  background: radial-gradient(circle,rgb(75, 60, 60) 0%, rgba(27, 24, 24, 1) 40%, rgba(27, 24, 24, 1) 100%);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#logo:active {
  rotate: 1deg;
}

.img{
  height: 140px;
  margin-top: 8px;
  transition: height 0.2s;
}

.img:hover {
  height: 160px;
  transition: height 0.2s;
}

@media only screen and (max-width: 655px) {
  .img {height: 100px;} 
  .img:hover {height: 100px;}
  #logo{height: 80px;}
}
